.topNav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #00244A;
    color: white;
}

.row{
    margin-left: 0 !important; 
    margin-right: 0 !important;
}

.header-logo{
    max-width: 75%;
    padding: 5px;
    margin: 0 0 5px 0;
}