.topNav {
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #00244A;
    color: white;
}

.row{
    margin-left: 0 !important; 
    margin-right: 0 !important;
}

img.header-logo{
    min-width: 85px;
    max-width: 86px;
    height: auto;
    margin: 5px 0;
    display: inline-block;
}

.navbar-toggler{
    border: 1px solid #fff !important;
    color: white;

}

.nav-link{
    z-index: 9;
    background-color: #004794;
    text-align: center;
}

a {
    color: white !important;
    /* margin-right:15px;
    border-radius:3px; */
}

a.nav-link:hover, active{
    text-decoration: underline !important;
}

/* ///////////////////////////////////// */
/*********  Start media queries  *********/
/* ///////////////////////////////////// */

@media(min-width:768px) {
    .navbar-collapse {
      background-color: #00244A;
      }
    .borderRule{
        padding-right: 11rem !important;
    }
    .header-logo{
        max-width: 11%;
        height: auto;
        margin: 10px;
        display: inline-block;
    }
}