.primary {
    background-color: #00244A;
    color: white;
}

.filter{
    background-color: red;
    z-index: 5;
    position: absolute;
    top: 3rem;
    width: 75%;
}

.map{
    max-height: 80%;
}

.footerNav{
    background-color: #00244A;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
    color: white;
    padding: 1rem;
}